<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 7</b></center>    
<pre>

# Set & Dictionary

### 01) WAP to iterate over a set.

In [1]:
s1 = {1,2,3,4,5,6}
for i in s1:
    print(i)

1
2
3
4
5
6

### 02) WAP to convert set into list, string and tuple.

In [48]:
s1 = {1,2,3,4,5,6}
# l1 = list(s1)
str1 = str(s1)
# t1 = tuple(s1)
str1

TypeError: 'str' object is not callable

### 03) WAP to find Maximum and Minimum from a set.

In [20]:
print(max(s1))
print(min(s1))

6
1

### 04) WAP to perform union of two sets.

In [22]:
s1 = {1,2,3,4,5,6}
s2 = {6,7,8,9,10}
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### 05) WAP to check if two lists have at-least one element common.

In [28]:
l1 = [1,2,3,4,5,6]
l2 = [6,7,8,9,10]

s1 = set(l1)
s2 = set(l2)

ans = s1 & s2
if(ans==set()):
    print("there's no element comman")
else:
    print(f"Comman elements are : {ans}")

Comman elements are : {6}

### 06) WAP to remove duplicates from list.

In [30]:
l2 = [6,7,8,9,10,10,9,8]
dup = set(l2)
dup

{6, 7, 8, 9, 10}

### 07) WAP to find unique words in the given string.

In [33]:
str = "Hello my name is Birva Vaghasiya. He is Uday"
l3 = str.split(" ")
s3 = set(l3)
s3

{'Birva', 'He', 'Hello', 'Uday', 'Vaghasiya.', 'is', 'my', 'name'}

### 08) WAP to remove common elements of set A & B from set A.

In [42]:
s1 = {1,2,3,4,5,6}
s2 = {6,7,8,9,10}
s1.difference_update(s2)
s1

{1, 2, 3, 4, 5}

### 09) WAP to check whether two given strings are anagram or not using set.

In [44]:
str1 = "Birva"
str2 = "Uday"

set1 = set(str1)
set2 = set(str2)

ans = set1 ^ set2

if(ans == set()):
    print("Anagram")
else:
    print("Not Anagram")

Not Anagram

### 10) WAP to find common elements in three lists using set.

In [45]:
l1 = set([1,2,3,4,5,6])
l2 = set([6,7,8,9,10])
l3 = set([1,3,4,6,8])

l1 & l2 & l3

{6}

### 11) WAP to count number of vowels in given string using set.

In [52]:
str1 = "Birva"
str1.lower()
s1 = set(str1)
count = 0
for i in s1:
    if(i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u'):
        count += 1
count

2

### 12) WAP to check if a given string is binary string or not.

In [56]:
str1 = "0101010i1"
s1 = set(str1)
for i in s1:
    if(i != '0' and i != '1'):
        print("It is not")
        break  
print("It is ")

It is not
It is

### 13) WAP to sort dictionary by key or value.

### 14) WAP to find the sum of all items (values) in a dictionary given by user. (Assume: values are numeric)

### 15) WAP to handle missing keys in dictionaries.
#### Example : Given, dict1 = {'a': 5, 'c': 8, 'e': 2} 
#### if you look for key = 'd', the message given should be 'Key Not Found', otherwise print the value of 'd' in dict1.