<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 6</b></center>    
<pre>

# Tuple

### 01) WAP to find sum of tuple elements.

In [2]:
ans = 0
t1 = (1,2,3,4,5)
for i in t1:
    ans = ans + i
ans

15

### 02) WAP to find Maximum and Minimum K elements in a given tuple.

In [8]:
min = t1[0]
max = 0
for i in t1:
    if(i < min):
       min = i
    if(i > max):
        max = i
print(f"max = {max} , min = {min}")

max = 5 , min = 1

### 03) WAP to find tuples which have all elements divisible by K from a list of tuples.

In [12]:
list_tuple = [(1,2,3,4),(4,5,6,7),(8,4)]
k = 2
ans = [i for i in list_tuple if all(j % k == 0 for j in i)]
ans

[(8, 4)]

### 04) WAP to create a list of tuples from given list having number and its cube in each tuple.

In [13]:
l1 = [1,2,3,4,5]
ans = [(i,i*i*i) for i in l1]
ans

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

### 05) WAP to find tuples with all positive elements from the given list of tuples.

In [14]:
list_tuple = [(1,-2,3,4),(4,5,-6,7),(8,4)]
ans = [i for i in list_tuple if all(j>0 for j in i)]
ans

[(8, 4)]

### 06) WAP to add tuple to list and vice â€“ versa.

In [16]:
l1 = []
t1 = (3,4)
t2 = (4,5)
l1.append(t1)
l1.append(t2)
l1

[(3, 4), (4, 5)]

### 07) WAP to remove tuples of length K.

In [21]:
k = 2
count = 0
list_tuple = [(1,2,3,4),(4,5,6,7),(8,4)]
for tup in list_tuple:
    for i in tup:
        count = count + 1
    if(count == k):
        list_tuple.remove(tup)
    count = 0
list_tuple

[(1, 2, 3, 4), (4, 5, 6, 7)]

### 08) WAP to remove duplicates from tuple.

In [25]:
original = (1,5,6,9,2,3,5,6,8,5)
ans = set(original)
ans

{1, 2, 3, 5, 6, 8, 9}

### 09) WAP to multiply adjacent elements of a tuple and print that resultant tuple.

In [30]:
t1 = (1,5,6,9,2,3,5,6,8,5)
ans = tuple(t1[i]*t1[i+1] for i in range(0 , len(t1)-1))
ans

(5, 30, 54, 18, 6, 15, 30, 48, 40)

### 10) WAP to test if the given tuple is distinct or not.

In [31]:
original = [(1,5,6,9,2,3,5,6,8,5),(9,2,3),(9,2,3)]
ans = set(original)
ans

{(1, 5, 6, 9, 2, 3, 5, 6, 8, 5), (9, 2, 3)}